<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manna">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".MannaApp"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.ApplyListActivity" />
        <activity android:name=".presentation.AlertListActivity" />
        <activity android:name=".presentation.invitation.InvitationActivity" />
        <activity
            android:name=".presentation.make_meet.MakeMeetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.location.MeetDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".presentation.search.SearchActivity" />
        <activity android:name=".presentation.search.RouteActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".presentation.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="whynotcoming.com"
                    android:scheme="http" />
                <data
                    android:host="whynotcoming.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.SocketIOTestActivity" />
        <activity android:name=".presentation.settings.NoticeActivity" />
        <activity android:name=".presentation.settings.FeedbackActivity" />
        <activity android:name=".presentation.settings.NoticeDetailActivity" />
        <activity
            android:name=".presentation.settings.DeleteAccountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.settings.ServiceTermsActivity" />
        <activity
            android:name=".presentation.sign_up.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_ranking" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>